**/checkpoints
**/logs
**/memories
**/models/tuning
models/tuning/**
**/data
**/old-memories
**/transfer
*.pyc
*/*.pyc
*.cpython-37.pyc
*.pyc
*.pyc
*.pyc
.vscode/settings.json
models/test0.model
# result.json
**/Lib
**/Scripts
**/Include
fixed_net_test.ipynb
level_routing_checkpoints/level1-1_past_pit1_dum.chp
level_routing_checkpoints/level1-1.chp
console_out.txt
.VSCodeCounter/**
