**/checkpoints
**/logs
**/memories
**/data
**/old-memories
**/transfer
*.pyc
*/*.pyc
*.cpython-37.pyc
*.pyc
*.pyc
*.pyc
.vscode/settings.json
models/test0.model
# result.json
**/Lib
**/Scripts
**/Include
fixed_net_test.ipynb
